alembic
altgraph
Babel

blinker
cachetools
certifi

chardet
click
dnspython
dominate

email-validator
Flask
Flask-Babel
Flask-Bootstrap
Flask-JWT
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
future
guess-language-spirit
idna
importlib-metadata
itsdangerous
Jinja2

MarkupSafe



pycparser

pyinstaller-hooks-contrib
PyJWT
python-dateutil
python-dotenv
python-editor

pytz


requests
six
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms

zipp
