<table class="table">
    <tr>
        <td width="64" style="border: 0px;">
            <img src="{{ user.avatar(64) }}">
        </td>
        <td style="border: 0px;">
            <p>
                <a href="{{ url_for('main.user',username=user.username) }}"></a>
            </p>
            <small>
                {% if user.about_me %}
                <p>
                    {{ user.about_me }}
                </p>
                {% endif %}
                {% if user.last_seen %}
                <p>
                    最近登陆：{{ moment(user.last_seen).format('lll') }}
                </p>
                {% endif %}
                <p>
                    {{ user.followers.count() }}个关注者，关注了{{ user.followed.count() }}人
                </p>
                {% if current_user != user %}
                <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='关注', class_='btn btn-default btn-sm') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='取关', class_='btn btn-default btn-sm') }}
                    </form>
                </p>
                {% endif %}
            </small>
        </td>
    </tr>
</table>
